flask               >= 0.8
pytest              >= 0
pytest-flake8       >= 0
pytest-mypy
pymongo             >= 0
github3.py          >= 0
requirements-parser >= 0.1.0
PyYAML              >= 0
types-PyYAML
types-requests
