{% include "incl/header.html" %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2>About</h2>
        Just a playground to learn about <a href="http://code-maven.com/python">programming in Python</a>
        and <a href="https://pypi.python.org/pypi">Pypi</a>.
        <p>
        Maintained by <a href="http://szabgab.com/">Gabor Szabo</a>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2>Tools</h2>
        Just a bunch of tools.
        <h3>Testing libraries</h3>
        <ul>
            <li><a href="https://docs.python.org/2/library/unittest.html">unittest - testing library</a></li>
            <li><a href="http://pytest.org/latest/">pytest - testing library</a></li>
            <li><a href="https://docs.python.org/2/library/doctest.html">doctest - Python tests embedded in documentation as examples</a></li>
        </ul>
        <h3>lint and static analysis</h3>
        <ul>
            <li><a href="https://www.logilab.org/project/pylint">pylint</a></li>
            <li><a href="http://pychecker.sourceforge.net/">PyChecker</a></li>
            <li><a href="https://pypi.python.org/pypi/pyflakes">pyflakes</a></li>
            <li><a href="https://blog.landscape.io/prospector-python-static-analysis-for-humans.html">Prospector</a></li>
        </ul>
        <h3>Other tools</h3>
        <ul>
            <li><a href="http://meta.pycqa.org/en/latest/">PyCQA - Python Code Quality Authority</a> and <a href="https://github.com/PyCQA">Github of PyCQA</a></li>
            <li><a href="https://www.python.org/dev/peps/pep-0008/">PEP8 - Style Guide for Python Code</a></li>
            <li><a href="https://www.fullstackpython.com/code-metrics.html">Python Code Metrics</a></li>
            <li><a href="http://pythontesting.net/">Python Testing posts and podcasts</a></li>
            <li><a href="https://wiki.python.org/moin/CodeCoverage">Code Coverage wiki page</a></li>
            <li><a href="https://pypi.python.org/pypi/coverage">coverage.py</a></li>
            <li><a href="http://darcs.idyll.org/~t/projects/figleaf/doc/">figleaf - coverage tool</a></li>
            <li><a href="http://pypi-ranking.info/">PyPI ranking</a></li>
        </ul>
    </div>
    <div class="col-md-1"></div>
</div>

{% include "incl/footer.html" %}
