{% include "incl/header.html" %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table">
        {% for l in licenses %}
            <tr><td>{{l.count}}</td><td>
                {% if l.long %}
                    <a href="/search?license=__long__">{{l.license}}</a>
                {% elif l.license == '' %}
                    <a href="/search?license=__empty__">**EMPTY**</a>
                {% else %}
                    <a href="/search?license={{l.license}}">{{l.license}}</a>
                {% endif %}
            </td></tr>
        {% endfor %}
        </table>
    </div>
    <div class="col-md-1"></div>
</div>
{% include "incl/footer.html" %}
