{% include "incl/header.html" %}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

    <form action="/search">
    <input name="q" value="{{search.q}}"><input type="submit" value="Search"><br>
<!--
    <label>No summary</label><input type="checkbox" name="no_summary" {% if search.no_summary %}CHECKED{% endif %}><br>
    <label>No license</label><input type="checkbox" name="no_license" {% if search.no_license %}CHECKED{% endif %}><br>
-->
    </form>

    <div>Showing {{count}} of {{total}} packages indexed.</div>

    <div>{% if search.no_license %}Showing packages that have no <b>license</b> field.{% endif %}</div>

    <table class="table">
    <tr>
      <th>Name</th><th>Summary</th>
    </tr>
    {% for e in data %}
        <tr>
            <td><a href="/pypi/{{e['name']}}">{{ e['name'] }}</a></td>
            <td>{{e.summary}}</td>
        </tr>
    {% endfor %}
    </table>

    </div>
    <div class="col-md-1"></div>
</div>


{% include "incl/footer.html" %}
