{% include "incl/header.html" %}
<table>
<tr>
  <th>Name</th><th>Travis-CI</th><th>Error</th>
</tr>
{% for e in data %}
    <tr>
    {% if 'home_page' in e %}
        <td><a href="{{ e['home_page'] }}">{{ e['title'] }}</a></td>
    {% else %}
        <td>{{ e['title'] }}</td>
    {% endif %}

    {% if 'travis_status' in e %}
        <td><img src="/static/img/build-{{ e['travis_status'] }}.png"></td>
    {% else %}
        <td>na</td>
    {% endif %}
    {% if 'error' in e %}
        <td>{{ e['error'] }}</td>
    {% else %}
        <td>&nbsp;</td>
    {% endif %}
    </tr>
{% endfor %}
</table>

{% include "incl/footer.html" %}
