{% include "incl/header.html" %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table">
            <tr><td>Name</td><td><a href="http://pypi.python.org/pypi/{{package.name}}">{{package.name}}</a> <a href="http://pypi.python.org/pypi/{{package.name}}/json">JSON</a></td>
            <tr><td>Version</td><td><a href="http://pypi.python.org/pypi/{{package.name}}/{{package.version}}">{{package.version}}</a> <a href="http://pypi.python.org/pypi/{{package.name}}/{{package.version}}/json">JSON</a></td>
            {% if 'error' in e %}
            <tr><td>Error:</td><td class="danger">{{ e['error'] }}</td></tr>
            {% endif %}
            <tr><td>home_page</td><td><a href="{{package.home_page}}">{{package.home_page}}</a> </td>
            <tr><td>Summary</td><td>{{package.summary}}</td></tr>
            <tr><td>pubDate</td><td>{{package.pubDate}}</td></tr>
            <tr><td>maintainer</td><td>{{package.maintainer}}</td></tr>
            <!-- <tr><td>maintainer_email</td><td>{{package.maintainer_email}}</td></tr> -->
            <tr><td>docs_url</td><td>{{package.docs_url}}</td></tr>
            <tr><td>author</td><td>{{package.author}}</td></tr>
            <!-- <tr><td>author_email</td><td>{{package.author_email}}</td></tr> -->
            <tr><td>requires_python</td><td>{{package.requires_python}}</td></tr>
            <tr><td>license</td><td>{{package.license}}</td></tr>
            <tr><td>keywords</td><td>
                {% for kw in package.split_keywords %}
                    <button type="button" class="btn btn-default"><a href="/keyword/{{kw}}" style="text-decoration: none">{{kw}}</a></button>
                {% endfor %}</td></tr>
            <tr><td>VCS</td>
                {% if package.github %}
                   <td><a href="{{ package.home_page }}"><img src="/static/img/github-24-000000.png"></a></td>
                {% else %}
                   <td></td>
                {% endif %}
            </tr>
            <tr><td>Travis-CI</td><td>
                {% if package.travis_ci %}
                    <a href="https://travis-ci.org/{{package.github_user}}/{{package.github_project}}"><img src="https://travis-ci.org/{{package.github_user}}/{{package.github_project}}.png"></a>
                {% else %}
                   No Travis.
                {% endif %}
            </td></tr>
            <tr><td>Coveralis test coverage</td><td>
                {% if package.coveralis %}
                    <a href="https://coveralls.io/r/{{package.github_user}}/{{package.github_project}}?branch=master"><img src="https://img.shields.io/coveralls/{{package.github_user}}/{{package.github_project}}/master.svg?style=flat"></a>
                {% else %}
                   No Coveralis.
                {% endif %}
            </td></tr>
        </table>

        <div id="description">
            <pre>
            {{package.description}}
            </pre>
        </div>
        <h3>Raw data</h3>
        <pre>
            {{raw}}
        </pre>
    </div>
    <div class="col-md-1"></div>
</div>
{% include "incl/footer.html" %}
