{% include "incl/header.html" %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table">
            <tr><td>Number of packages indexed</td><td>{{total}}</td><td></td></tr>
            <tr><td><a href="/search/no-summary">No summary</a></td><td>{{no_summary}}</td><td>{{no_summary_perc}}%</td></tr>
            <tr><td><a href="/search/no-license">No license</a></td><td>{{no_license}}</td><td>{{no_license_perc}}%</td></tr>
            <tr><td><a href="/search/no-github">No GitHub</a></td><td>{{no_github}}</td><td>{{no_github_perc}}%</td></tr>
        </table>
        <h2>Licenses</h2>
        <table>
        {% for l in licenses %}
           <tr><td><a href="/search?license={{l.license}}">{{l.license}}</a></td><td>{{l.count}}</td></tr>
        {% endfor %}
        </table>
    </div>
    <div class="col-md-1"></div>
</div>
{% include "incl/footer.html" %}
