{% include "incl/header.html" %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table">
            <tr><td>Number of packages indexed</td><td>{{total}}</td>
            <tr><td>No summary</td><td>{% if no_summary %}<a href="/search?no_summary=on">{{no_summary}}</a>{% else %}0{% endif %}</td>
            <tr><td>No license</td><td>{% if no_license %}<a href="/search?no_license=on">{{no_license}}</a>{% else %}0{% endif %}</td>
            <tr><td>No GitHub</td><td>{% if no_github %}<a href="/search?no_github=on">{{no_github}}</a>{% else %}0{% endif %}</td>
        </table>
        <h2>Licenses</h2>
        <table>
        {% for l in licenses %}
           <tr><td><a href="/search?license={{l.license}}">{{l.license}}</a></td><td>{{l.count}}</td></tr>
        {% endfor %}
        </table>
    </div>
    <div class="col-md-1"></div>
</div>
{% include "incl/footer.html" %}
