{% include "incl/header.html" %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table">
            <tr><td>Number of packages indexed</td><td>{{ stats.total | commafy }}</td><td></td></tr>
            <tr><td><a href="/search/no-summary">No summary</a></td><td>{{stats.no_summary}}</td><td>{{(100 * stats.no_summary / stats.total) | round(2)}}%</td></tr>
            <tr><td><a href="/search/no-license">No license</a></td><td>{{stats.no_license}}</td><td>{{(100 * stats.no_license / stats.total) | round(2)}}%</td></tr>
            <tr><td><a href="/search/no-github">No GitHub</a></td><td>{{stats.no_github}}</td><td>{{(100 * stats.no_github / stats.total) | round(2)}}%</td></tr>
            <tr><td><a href="/search/has-github">Has GitHub</a></td><td>{{stats.has_github}}</td><td>{{(100 * stats.has_github / stats.total) | round(2)}}%</td></tr>
            <tr><td><a href="/search/no-docs-url">No docs_url</a></td><td>{{stats.no_docs_url}}</td><td>{{(100 * stats.no_docs_url / stats.total) | round(2)}}%</td></tr>
            <tr><td><a href="/search/has-docs-url">Has docs_url</a></td><td>{{stats.has_docs_url}}</td><td>{{ (100 * stats.has_docs_url / stats.total) | round(2)}}%</td></tr>
            <tr><td><a href="/search/no-author">No author</a></td><td>{{stats.no_author}}</td><td>{{(100 * stats.no_author / stats.total) | round(2)}}%</td></tr>
            <tr><td><a href="/search/has-author">Has author</a></td><td>{{stats.has_author}}</td><td>{{ (100 * stats.has_author / stats.total) | round(2)}}%</td></tr>
            <tr><td><a href="/search/no-requires-python">No requires_python provided</a></td><td>{{stats.no_requires_python}}</td><td>{{ (100 * stats.no_requires_python / stats.total) | round(2)}}%</td></tr>
            <tr><td><a href="/search/no-cheesecake-installability-id">No cheesecake_installability_id</a></td><td>{{stats.no_cheesecake_installability_id}}</td><td>{{ (100 * stats.no_cheesecake_installability_id / stats.total) | round(2)}}%</td></tr>
            <tr><td><a href="/search/no-keywords">No keywords</a></td><td>{{stats.no_keywords}}</td><td>{{(100 * stats.no_keywords / stats.total) | round(2)}}%</td></tr>
            <tr><td><a href="/search/has-keywords">Has keywords</a></td><td>{{stats.has_keywords}}</td><td>{{ (100 * stats.has_keywords / stats.total) | round(2)}}%</td></tr>
            <tr><td><a href="/search/has-requirements">Has requirements</a></td><td>{{stats.has_requirements}}</td><td>{{ (100 * stats.has_requirements / stats.total) | round(2)}}%</td></tr>
            <tr><td><a href="/search/no-requirements">No requirements</a></td><td>{{stats.no_requirements}}</td><td>{{ (100 * stats.no_requirements / stats.total) | round(2)}}%</td></tr>
        </table>
        <h2>Details</h2>
        <ul>
            <li><a href="/licenses">Licenses</a></li>
        </ul>
    </div>
    <div class="col-md-1"></div>
</div>
{% include "incl/footer.html" %}
