{% include "incl/header.html" %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        Once upon a time there was service called <a href="https://github.com/griggheo/cheesecake">PyCheesecake</a> that measured
        certain "kwalitee" metrics of PyPI packages trying to hint at the quality of those packages.
        The idea was based on the "kwalitee" metrics of the Perl community
        offered by the <a href="http://cpants.cpanauthors.org/">CPANTS</a> service.
        <p>
        PyDigger has similarities, but it does not try to say one package is of higher quality than the other.
        It does not even indicates kwalitee.
        PyDigger tries to offer a view at the Python packages on <a href="https://pypi.python.org/pypi">PyPI</a>.
        Providing information on "common practices" and also tries to hint which are the better,
        or the "best practices".
        <p>
        So what kind of things do we look at?
        <p>
        In the first part of the project we look at the JSON file provided by PyPI and
        check things there. For example we check if there is a <b>license</b> and what
        that license is. Then at one point we'll recommend what kind of values should
        be in that field and what should project developers do with the other values.
        <p>
        We also look at the <b>keywords</b> that were supplied with the project.
        Having these keywords can make it easier for people to find related packages.
        On the other hand having too many keywords might be spamming the system.
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2>Removing a package</h2>
        Currently there is no automatic way to remove a package as that would require some trigger from pypi or that I go over all the packages once in a while to see if has been remove from pypi. If you have remove a package from pypi and would like to remove it from here as well, let me know. Either by a friendly e-mail or a friendly issue on the GitHub repository.
        <h2>Author and source</h2>
        <p>
        Maintained by <a href="http://szabgab.com/">Gabor Szabo</a> in <a href="https://github.com/szabgab/pydigger.com">this GitHub repository</a>.
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2>Stats</h2>
        On the <a href="/stats">stats</a> page you can see some information on various metrics. The information is extracted from the JSON file provided by PyPI, and if it has a link to the GitHub repository of the project then further data is collected from the GitHub repository.
        <h3>Version Control - GitHub</h3>
        Information about the Version Control System used for the project is extracted from the <b>home_page</b> fieldof the JSON file provided by PyPI. Currently it can only identify GitHub.

        <h2>Tools</h2>
        A bunch of tools that might be useful.
        <h3>Testing libraries</h3>
        <ul>
            <li><a href="https://docs.python.org/2/library/unittest.html">unittest - testing library</a></li>
            <li><a href="http://pytest.org/latest/">pytest - testing library</a></li>
            <li><a href="https://docs.python.org/2/library/doctest.html">doctest - Python tests embedded in documentation as examples</a></li>
        </ul>
        <h3>lint and static analysis</h3>
        <ul>
            <li><a href="https://www.logilab.org/project/pylint">pylint</a></li>
            <li><a href="http://pychecker.sourceforge.net/">PyChecker</a></li>
            <li><a href="https://pypi.python.org/pypi/pyflakes">pyflakes</a></li>
            <li><a href="https://blog.landscape.io/prospector-python-static-analysis-for-humans.html">Prospector</a></li>
        </ul>
        <h3>Other tools</h3>
        <ul>
            <li><a href="http://meta.pycqa.org/en/latest/">PyCQA - Python Code Quality Authority</a> and <a href="https://github.com/PyCQA">Github of PyCQA</a></li>
            <li><a href="https://www.python.org/dev/peps/pep-0008/">PEP8 - Style Guide for Python Code</a></li>
            <li><a href="https://www.fullstackpython.com/code-metrics.html">Python Code Metrics</a></li>
            <li><a href="http://pythontesting.net/">Python Testing posts and podcasts</a></li>
            <li><a href="https://wiki.python.org/moin/CodeCoverage">Code Coverage wiki page</a></li>
            <li><a href="https://pypi.python.org/pypi/coverage">coverage.py</a></li>
            <li><a href="http://darcs.idyll.org/~t/projects/figleaf/doc/">figleaf - coverage tool</a></li>
            <li><a href="http://pypi-ranking.info/">PyPI ranking</a></li>
        </ul>
    </div>
    <div class="col-md-1"></div>
</div>

{% include "incl/footer.html" %}
