{% include "incl/header.html" %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3>The site is supported by the sales of my books.</h3>
        <p>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h2><a href="https://leanpub.com/python-examples">1000 Python Examples</a></h2>
            <a href="https://leanpub.com/python-examples"><img src="static/img/python-book-cover-306x396.png" alt="Python book cover" /></a>
    </div>
    <div class="col-md-4">
        <h2><a href="https://leanpub.com/collab-dev-git">Collaborative Development</a></h2>
            <a href="https://leanpub.com/collab-dev-git"><img src="static/img/git_book_cover_306x396.png" alt="Collab dev book cover" /></a>
    </div>
    <div class="col-md-2"></div>
</div>



{% include "incl/footer.html" %}
