{% include "incl/header.html" %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Count</th>
          </tr>
        </thead>
        <tbody>
         {% for entry in flake8_report %}
           <tr><td scope="row">{{ entry._id.key }}</td><td>{{ entry._id.flake8 }}</td></tr>
         {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-1"></div>
</div>
<div>
<!--
{{ flake8_report }}
-->
</div>
{% include "incl/footer.html" %}
