{% include "incl/header.html" %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <table class="table"
         id="flake8"
  data-search="true"
  data-show-columns="false"
  data-show-multi-sort="true"
  data-show-multi-sort-button="false"
  data-sort-priority='[{"sortName": "code","sortOrder":"desc"},{"sortName":"count","sortOrder":"desc"}]'
      >
        <thead>
          <tr>
            <th scope="col" data-field="code" data-sortable="true">Code</th>
            <th scope="col" data-field="count" data-sortable="true">Count</th>
          </tr>
        </thead>
        <tbody>
         {% for entry in flake8_report %}
           <tr><td scope="row">{{ entry._id.key }}</td><td>{{ entry._id.flake8 }}</td></tr>
         {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-1"></div>
</div>
<div>
<!--
{{ flake8_report }}
-->
</div>
{% include "incl/footer.html" %}

<script>
  $(function() {
    $('#flake8').bootstrapTable()
  })
</script>

