{% include "incl/header.html" %}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <form action="/search">
            <input name="q" value="{{search.q}}"><input type="submit" value="Search"><br>
        </form>
        {% include "incl/pagination.html" %}

        <div>{% if search.no_license %}Showing packages that have no <b>license</b> field.{% endif %}</div>

        <table class="table">
        <tr>
          <th>Name</th><th>Version</th><th>Summary</th><th>date</th>
        </tr>
        {% for e in data %}
            <tr>
                <td><a href="/pypi/{{e['name']}}">{{ e['name'] }}</a></td>
                <td>{{e.version}}</td>
                <td>{{e.summary}}</td>
                <td>{{e.upload_time}}</td>
            </tr>
        {% endfor %}
        </table>

        {% include "incl/pagination.html" %}

    </div>
    <div class="col-md-1">
        {% if author %}
            <img src="http://www.gravatar.com/avatar/{{gravatar}}?s=100&d=blank" title="{{author}}">
            {{author}}
        {% endif %}
    </div>
</div>


{% include "incl/footer.html" %}
