<div class="pagination">
<div>
Found {{page.total_found | commafy}} out of {{page.total_indexed | commafy}}. Showing {{page.count}} on page {{page.current}}.
Total pages: {{page.pages}}.
</div>
<div>
<a role="button" href="?q={{search_query}}&amp;page=1&amp;limit={{page.limit}}"                  class="btn btn-outline-primary {% if page.current == 1 %}disabled{% endif %}">first</button>
<a role="button" href="?q={{search_query}}&amp;page={{page.current-1}}&amp;limit={{page.limit}}" class="btn btn-outline-primary {% if page.current == 1 %}disabled{% endif %}">prev</a>
<a role="button" href="?q={{search_query}}&amp;page={{page.current+1}}&amp;limit={{page.limit}}" class="btn btn-outline-primary {% if page.current == page.pages %}disabled{% endif %}">next</a>
<a role="button" href="?q={{search_query}}&amp;page={{page.pages}}&amp;limit={{page.limit}}"     class="btn btn-outline-primary {% if page.current == page.pages %}disabled{% endif %}">last</a>
</div>
</div>
